<!DOCTYPE html>
<html>
    <head>
        <title>Central Cinema</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed&display=swap" rel="stylesheet">
    </head>

	<body>
		<div class="container">
			<div class="box">
				<h1>Search For a Movie</h1>
				<form action="/results" method="GET">
   			 	<input type="text" placeholder="What word do you have in mind?" name="search">
   			 	<input type="submit">
				</form>	
			</div>
		</div>	
	</body>
</html>
